.navbar img {
    width: 70px;
    height: 50px;
}
.navbar blue {
    font-weight: bold;
    color:#4e0552;
    font-family: cursive;
}
.navbar home {
    font-weight: bold;
    padding-left: 43px;
    color:black;
}
.navbar item {
    font-weight: bold;
    padding-left: 15px;
    color: black;
    font-weight: bold;
}


.div drinks{
    position: absolute;
    left:20px;
    background: white;
}


/*customer add*/


.figure hg{
    position: absolute;
    top:100px;
    left:0;
    right: 0;
    color: darkblue;
    font-weight: bold;
    font-family: Arial;
}
